<!DOCTYPE html>
{% load static %}

<html>
<head>
    <meta charset="utf-8">
    <title>
        {% block title %}
            {{ title|title }}
        {% endblock %}
    </title>
    {% block css %}
        <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    {% endblock %}
    {% block js %}
    {% endblock %}
</head>
<body>
<div class="market_bgi_container">
    {% block menu %}

        <div class="menu-container">
            <button class="nav-button"><a class="orders-a" href="{% url 'admin:control_post' %}">На мостик</a></button>
            {% if rights.can_edit_scripts %}
                <button class="nav-button"><a class="orders-a" href="{% url 'admin:scripts_read' %}">Скрипты</a>
                </button>
            {% endif %}
            {% if rights.can_edit_users %}
                <button class="nav-button"><a class="orders-a" href="">Команда??</a></button>
            {% endif %}
            {% if rights.can_buy_sd %}
                <button class="nav-button"><a class="orders-a" href="{% url 'market:sd_shop' %}">Магазин</a></button>
            {% endif %}
            <button class="nav-button"><a class="orders-a" href="{% url 'auth:logout' %}">Выйти</a></button>
        </div>

    {% endblock %}

    <div class="admin_container {{ container_size }}">
        <div class="h2 text-center head">
            {{ title|capfirst }}
        </div>



        {% block content %}

        {% endblock %}
    </div>
</div>
</body>
</html>