{% extends 'marketapp/base.html' %}
{% load static %}

{% block menu %}
 <div>

 </div>

{% endblock %}

{% block content %}
    <div>
    <ul>
        <li>Купить 20 СД по 12 руб. <button><a href="{% url 'market:buy_sd' '240' '20' %}">Оплатить 240 руб</a> </button></li>
       <li>Купить 50 СД по 11 руб. Экономия 50 руб.<button><a href="">Оплатить 550 руб</a> </button></li>
        <li>Купить 100 СД по 10 руб. Экономия 200 руб.<button><a href="">Оплатить 1000 руб</a> </button></li>
        <li>Купить 250 СД по 9 руб. Экономия 750 руб.<button><a href="">Оплатить 2250 руб</a> </button></li>
        <li>Купить 500 СД по 8 руб. Экономия 2000 руб.<button><a href="">Оплатить 4000 руб</a> </button></li>
        <li>Купить 1000 СД по 7 руб. Экономия 5000 руб.<button><a href="">Оплатить 7000 руб</a> </button></li>
        <li>Купить 5000 СД по 6 руб. Экономия 30000 руб.<button><a href="">Оплатить 30000 руб</a> </button></li>

    </ul>
    </div>

{% endblock %}