<!DOCTYPE html>
{% load static %}

<html>
<head>
    <meta charset="utf-8">
    <title>
        {% block title %}
            {{ title|title }}
        {% endblock %}
    </title>
    {% block css %}
        <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    {% endblock %}
    {% block js %}
    {% endblock %}
</head>
<body>
<div class="admin_bgi_container">
    {% block menu %}
        <div class="menu-container">
            <button class="nav-batton"><a class="orders-a" href="">На мостик</a></button>
            <button class="nav-batton"><a class="orders-a" href="">Скрипты</a></button>
            <button class="nav-batton"><a class="orders-a" href="">Команда</a></button>
            <button class="nav-batton"><a class="orders-a" href="">Магазин</a></button>
            <button class="nav-batton"><a class="orders-a" href="">Выйти</a></button>
        </div>


    {% endblock %}
    <div class="admin_container">

        <div class="h2 text-center head">
            {{ title|capfirst }}
        </div>



        {% block content %}

        {% endblock %}

    </div>
</div>
</body>
</html>