{% extends 'adminapp/base.html' %}
{% load static %}



{% block content %}
    <div class="into-h2">- Капитан на мостике!</div>
    <div class="into-h2">- Добро пожаловать, капитан {{ user.first_name }} !</div>
    <div class="control-post-container">
        <div class="control-data-container">

            <div class="report">
                <span class="report-span">Вот отчет по текущему состоянию дел:</span>
                <div class="report-row" title="
                        {% if user.scripts_days == 0 %}
                        Кэп - топливо на нуле, нам бы заправиться а то не взлетим
                        {% elif user.scripts_days < 20 %}
                        Кэп - топлива маловато, может подзаправимся?
                        {% else %}
                        Кэп - баки полны. Полет нормальный!
                        {% endif %}">
                    <div class="report-left">Топлива в баке:</div>
                    <div class="report-right">{{ user.scripts_days }} с/д</div>
                </div>
                <div class="report-row">
                    <div class="report-left">Скриптов подготовлено:</div>
                    <div class="report-right">{{ scripts|length }}</div>
                </div>
                <div class="report-row">
                    <div class="report-left">Активировано скриптов:</div>
                    <div class="report-right">{{ user.scripts_used }}</div>
                </div>
                <div class="report-row">
                    <div class="report-left">Расход СД в день</div>
                    <div class="report-right">{{ user.scripts_used }}</div>
                </div>
            <div class="report-row">
                    <div class="report-left">Членов команды</div>
                    <div class="report-right">----</div>
                </div>

            </div>
            <div class="report">
                <span class="report-span">Ждем ваших приказов:</span>
                <div class="report-row">
                    <div class="report-left">Пополнить баки</div>
                    <div class="report-right">
                        <button class="orders-btn"><a class="orders-a" href="{% url 'market:sd_shop' %}">Купить с/д
                            ></a>
                        </button>
                    </div>
                </div>
                <div class="report-row">
                    <div class="report-left">Посмотреть скрипты</div>
                    <div class="report-right">
                        <button class="orders-btn"><a class="orders-a" href="{% url 'admin:scripts_read' %}">К списку
                            скриптов ></a></button>
                    </div>
                </div>
                <div class="report-row">
                    <div class="report-left">Сделать новый скрипт</div>
                    <div class="report-right">
                        <button class="orders-btn"><a class="orders-a" href="">Творить ></a></button>
                    </div>
                </div>
                <div class="report-row">
                    <div class="report-left">Изменить свои данные</div>
                    <div class="report-right">
                        <button class="orders-btn"><a class="orders-a" href=""> Измениться?? ></a></button>
                    </div>
                </div>
                <div class="report-row">
                    <div class="report-left">Управлять командой</div>
                    <div class="report-right">
                        <button class="orders-btn"><a class="orders-a" href=""> Построить команду?? ></a></button>
                    </div>
                </div>

            </div>
        </div>
        <div class="reminder">
            <span class="explanation-span">Памятка для капитана</span>

            <p class="explanation-p">- Капитан, давайте я напомню что здесь как работает.</p>
            <p class="explanation-p">- Вы можете творить сколько угодно скриптов, с этим проблем нет. </p>
            <p class="explanation-p">- Можете посмотреть как будет выглядеть скрипт с
                помощью препросмотра в списке скритов. </p>
            <p class="explanation-p">- Но пока мы его не запустим он будет не стабильным.
                Только 30 минут будет работать после каждого изменения. </p>
            <p class="explanation-p">- Чтобы скрипт стал стабильным нужно его
                активировать. Там же в списке скриптов можно.</p>
            <p class="explanation-p">- Как активируете, появится ссылка. Ее можно дать любым вашим продажникам, скольким
                хотите, регистрировать
                никого не надо. </p>
            <p class="explanation-p">- Каждый активный скрипт жжет 1 сд(скрипто/день) в день. </p>
            <p class="explanation-p">- Если не нужен, глушите его(деактивируйте) в списке скриптов. </p>
            <p class="explanation-p">- Скрипт будет доступен по ссылке, до тех пор пока в баках есть СД. </p>
            <p class="explanation-p">- Сожжем все СД дальше не полетим.
                Скрипты встанут в неактивный режим.
                Нужно будет дозаправиться и повторно активировать нужные скрипты. </p>
            <p class="explanation-p">- Если что, ссылку всегда можно изменить и тогда скрипт фиг кто найдет, пока вы не
                дадите новую ссылку.
            </p>
        </div>
    </div>
{% endblock %}