{% extends 'adminapp/base.html' %}
{% load static %}

{% block menu %}
{% endblock %}

{% block content %}
    <h2>Капитан на мостике!</h2>
    <h3>Добро пожаловать, Капитан {{ user.first_name }}</h3>
    <div>
    Вот отчет по текущему состоянию дел:
    <ul>
        <li>Топлива в баке: {{ user.scripts_days }} с/д</li>
        <li>Скриптов подготовлено: {{ scripts|length }}</li>
        <li>Активировано скриптов: {{ user.scripts_used }}</li>
    </ul>
    </div>
    <div>
    Ждем ваших приказаний:
    <ul>
        <li>Пополнить баки <button><a href="">Купить с/д</a> </button></li>
        <li>Посмотреть скрипты <button><a href="{% url 'admin:scripts_read' %}">К списку скриптов</a></button></li>
        <li>Сделать новый скрипт <button><a href="">Творить</a></button></li>
    </ul>
    </div>
    <div>
    <h3>Памятка для капитана</h3>
    <p>Капитан, давайте я напомню что здесь как работает.</p>
    <p>Вы можете творить сколько угодно скриптов, с этим проблем нет. Можете посмотреть как он будет выглядеть с
        помощью препросмотра в списке скритов. Но пока мы его не пульнем он будет не стабильным.
    Только 30 минут будет работать после каждого изменения. Чтобы скрипт стал стабильным нужно его активировать. Там же в списке скриптов можно.
    Как активируете, появится ссылка. Ее можно дать любым вашим продажникам, скольким хотите, регистрировать никого не надо.
        Каждый активный скрипт жжет 1 сд(скрипто/день) в день. Если не нужен, глушите его(деактивируйте).
        Скрипт будет доступен по ссылке, до тех пор пока в баках есть СД. Сожжем все СД дальше не полетим.
        Скрипты встанут в неактивный режим. Нужно будет дозаправиться и повторно активировать нужные скрипты.
        Если что, ссылку всегда можно изменить и тогде скрипт фиг кто найдет, пока вы не дадите новую ссылку.
    </p>
    </div>
{% endblock %}