{% extends 'adminapp/base.html' %}
{% load static %}


{% block content %}
    <div class="categories_list">
        {% if not scripts_list %}
            <div class="market-message">- Кэп, у нас ни одного скрипта нет, мы так не взлетим. Может сварганим какой
                скриптец по быстрому?
            </div>
            <div class="script-start-container">
                <div class="new-script-lbl">
                    Создать скрипт >
                </div>
                <button class="new_script-btn">
                    <a class="orders-a" href="{% url 'admin:script_create' %}"> > ЗАПУСК < </a>
                </button>
            </div>
        {% else %}
            <div class="market-message">{{ message }}
            </div>
            <div class="script-start-container">
                <div class="new-script-lbl">
                    Создать скрипт >
                </div>
                <button class="new_script-btn">
                    <a class="orders-a" href="{% url 'admin:script_create' %}"> > ЗАПУСК < </a>
                </button>
            </div>
        {% endif %}



        {% for script in scripts_list %}
            <div class="scripts-container">
                <div class="script_name">
                    {{ script.name|title }}
                </div>
                <div class="category_name">

                    {% if script.is_active %}
                        <div class="script-active-container">
                            <div class="info-message">Скрипт активирован и доступен по ссылке:</div>
                            <div class="script-url-container">
                                <div class="script-url"> {{ request.get_host }}{% url 'main:script_view' script.url %}</div>
                                <button class="nav-button">
                                    <a class="orders-a" href="{% url 'main:script_view' script.url %}">Перейти</a>
                                </button>
                            </div>

                        </div>
                    {% endif %}
                    <div class="script-controls">
                        {% if script.is_active %}
                            <button class="nav-button">
                                <a class="orders-a"
                                   href="{% url 'admin:script_deactivate' script.pk %}">Деактивировать</a>
                            </button>
                        {% else %}
                            <button class="nav-button"><a class="orders-a" href="{% url 'admin:script_activate' script.pk %}">Активировать</a>
                            </button>
                        {% endif %}

                        <button class="nav-button">
                            <a class="orders-a" href="{% url 'admin:script_edit' script.pk %}">Редактировать</a>
                        </button>
                        <button class="nav-button">
                            <a class="orders-a" href="{% url 'main:script_preview' script.pk %}">Предварительный просмотр</a>
                        </button>
                        <button class="nav-button">
                            <a class="orders-a" href="">Удалить</a>
                        </button>
                    </div>

                </div>
            </div>
        {% endfor %}

{% endblock %}