{% extends 'adminapp/base.html' %}
{% load static %}

{% block content %}
    <form class="form-horizontal" action="{% url 'admin:situation_edit' situation.pk script_type %}" method="post"
          enctype="multipart/form-data">
        {% csrf_token %}

        <div class="form-block">
            <div class="form-label">Вариант ситуации</div>
            <input class="small-form-input" type="text" name="situation" required value="{{ situation.situation }}">

            <div class="form-label">Что говорить?</div>
            <textarea class="form-textarea" rows="10" cols="45" name="recomended_action" >{{ situation.recomended_action }}</textarea>
            <div class="form-submit">
                <input class="nav-button orders-a" type="submit" value="Сохранить">
            </div>
            <div class="form-submit">
                <button class="nav-button last-button">
                    <a class="orders-a"
                       href="{% url 'admin:script_edit' script_pk %}">Назад</a>
                </button>
            </div>
        </div>

    </form>

{% endblock %}