{% extends 'adminapp/base.html' %}
{% load static %}


{% block content %}
    <div class="categories_list">
		<button class="new_category">
			<a href="{% url 'admin:script_create' %}">новый скрипт</a>
		</button>
    <button class="new_category">
			<a href="{% url 'admin:control_post' %}">Вернуться в рубку</a>
		</button>

		{% for script in scripts_list %}
			<div class="category_record {% if not object.is_active %}not_active{% endif %}">
				<div class="category_name">
					{{ script.name|title }}
				</div>
            <div class="category_name">

                {% if script.is_active %}
                <div class="category_name">
                <h5> Скрипт активирован и доступен по ссылке:</h5>
					{{ request.get_host }}{% url 'main:script_view' script.url %}
                <button><a href="">Деактивировать</a>
                    </button>
				</div>
                {% else %}
                    <button><a href="">Активировать</a>
                    </button>
                {% endif %}
				<div class="category_actions">

					<button>
						<a href="{% url 'admin:script_edit' script.pk %}">редактировать</a>
					</button>
                    <button>
						<a href="{% url 'main:script_preview' script.pk %}">предварительный просмотр</a>
					</button>
					<button>
						<a href="">удалить</a>
					</button>
				</div>

			</div>
		{% endfor%}
	</div>
{% endblock %}