<!DOCTYPE html>
{% load static %}

<html>
<head>
    <meta charset="utf-8">
    <title>
        {% block title %}
            {{ title|title }}
        {% endblock %}
    </title>
    {% block css %}
        <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    {% endblock %}
    {% block js %}
    {% endblock %}
</head>
<body style="background-color: white">
<div class="container-main">

    {% block menu %}

    {% endblock %}


    {% block content %}

    {% endblock %}

{% block footer %}
    <div class="footer">
    <div class="contacts">
        <span>Обращайтесь за консультацией:</span>
<span>Тел: +7 (903) 374-50-30 (+whatsapp, viber)</span>
        <span>email: vk@gtmk.ru</span>
        <span>Адрес: г. Волгоград, ул. Баррикадная, д.10, оф. 304</span>
    </div>
    <div class="copyright-info">
© Все права защищены ООО ГТМК
    </div>
    <div class="social-media">
vk fb
    </div>
    </div>
{% endblock %}

</div>
</body>
</html>