* {
    padding: 0;
    margin: 0;
}

.container-first-block {
    background-image: url(/static/img/gearbox.jpg);
    height: 900px;
    width: auto;
}

.upper-menu {
    display: flex;
    justify-content: space-between;

    padding: 10px 40px;
    width: auto;
}

.logo-img {
    height: 40px;
    padding-left: 100px;
}

.nav-menu {
    display: flex;
    align-items: flex-end;
    padding-right: 100px;
}

.nav-batton {
    margin: 3px 10px;
    padding: 3px 10px;
    color: white;
    border-radius: 4px;
    font-weight: bold;
    background-color: darkred;
}

.hor-liner {
    height: 80px;
}

.menu-hr {
    border: 1px solid white;
    margin: 5px 150px;
}

.offer-h1 {
    color: white;
    text-align: center;
    padding-bottom: 50px;
    font-size: 2.2em;
}

.offer-p {
    color: white;
    text-align: center;
    font-size: 1.4em;
}

.central-menu {
    display: flex;
    flex-flow: column;
    align-items: center;
    padding-top: 80px;
}

.main-nav-btn {
    width: 350px;
    padding: 9px 20px 10px;
    margin-bottom: 20px;
    border-radius: 10px;


}

.reg-btn {
    background-color: darkred;
}

.white-a {
    color: white;
    font-size: 18px;
}

.black-a {
     color: black;
    font-size: 18px;
}

button {
    max-height: 40px;

    border-radius: 2px;
    padding: 0 5px;
    margin: 0 5px;
}

li {
    margin: 10px 20px;
}




.nav-menu {
    align-content: flex-end;
}

.change-button {
    max-width: 80px;
}

a {
    text-decoration: none;
}

.admin_container {
    width: 1300px;
    margin: 8px auto;
    padding: 5px;
    outline: black solid 1px;
}

.form-horizontal {
    margin: 10px;
}

.controls {
    width: 250px;
    padding: 5px;
    margin: 5px;
    border: solid lightseagreen 1px;
}

.to_control {
    width: 100%;

}

.control-width-350 {
    width: 350px;
    border: solid #5897fb 1px;
    padding: 5px;
    margin: 5px;
}

.control-width-660 {
    width: 660px;
    border: solid blue 1px;
    padding: 5px;
    margin: 5px;
}

.display-row {
    display: flex;
}



.button {
    margin: 10px 15px;
    padding: 5px 10px;
    width: 250px;
    border: 1px solid black;
    background-color: aliceblue;
    border-radius: 10px;
    text-align: center;
    display: block;
    text-decoration: none;
    font-size: 22px;
}

.container {
    width: 1200px;
    margin: 10px auto;
    padding: 10px;
    outline: 1px solid black;
}

.top {
    margin: 20px auto 0;
    padding-left: 30px;
    padding-bottom: 20px;
}

.bottom {
    display: flex;
}

.left {
    display: flex;
    margin: 5px;
    width: auto;
}

.menu {
    outline: 1px solid black;

}

.content {

    outline: 1px solid black;
    margin: 0 4px;
    width: 680px;
    box-sizing: border-box;
}

.content-lpr {
    display: none;
}

.right {
    padding: 10px;
    outline: 1px solid black;
    display: none;
}

.situation {
    width: auto;
    padding: 5px 10px;
    font-size: 18px;
}

.instruction {
    display: none;
    font-size: 14px;
    color: black;
    margin: 10px 5px;
    padding: 10px;
    outline: 1px black solid;
    background-color: beige;
    font-style: italic;
    text-align: left;
}

.menu-right {
    width: 300px;
    margin-left: 5px;
}

.right-button {
    width: auto;
    padding: 5px 10px;
    font-size: 20px;
}
